:root{
    --s1:calc(100%/12);
    --s2:calc(var(--s1)*2);
    --s3:calc(var(--s1)*3);
    --s4:calc(var(--s1)*4);
    --s5:calc(var(--s1)*5);
    --s6:calc(var(--s1)*6);
    --s6:calc(var(--s1)*6);
    --s7:calc(var(--s1)*7);
    --s8:calc(var(--s1)*8);
    --s9:calc(var(--s1)*9);
    --s10:calc(var(--s1)*10);
    --s11:calc(var(--s1)*11);
    --s12:calc(var(--s1)*12);
}
.view:not(:nth-of-type(6)){
    display:none;
}
*{
    padding:0;
    margin:0;
    user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
}
body{
    color:gray;
}
.view>.view_wrapper{
    display:grid;
    height:100%;
    vertical-align:middle;
}
.track{
    background:#b2833d;
}
.pocket{
    background:#ffc107;
    border-radius:50%;
    position:absolute;
}
.piece_a{
    background:#11ca8b;
}
.piece_b{
    background:#e74d14;
}
.piece{
    margin:0.9px;
    border-radius:50%;
    cursor:pointer;
    z-index:500;
    position:absolute;
}
.piece_a.dead{
    background-color:#8ad0b8;
}
.piece_b.dead{
    background-color:#cea799;
}
#shild{
    position:fixed;
    width:100%;
    height:100%;
    z-index:600;
    background:rgba(0,0,0,.5);
}
.center{
    position: relative;
    width:35%;
    margin:auto;
}
.play_board{
    margin:auto;
}
.form_header{
    background:lightgray;
    color:white;
    padding:10px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    font-size:30px;
    text-align:center;
}
.form_body{
    border:1px solid lightgray;
    border-bottom:transparent;
}
.form_footer{
    border:1px solid lightgray;
    border-top:transparent;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.form_wrapper{
    padding:5px;
}
.form_body>.form_wrapper{
    padding:20px 5px;
}
.text_right{
    text-align:right;
}
.text_center{
    text-align:center;
}
.text_left{
    text-align:left;
}
.form_field_wrapper{
    margin-top:14px;
}
.input_text{
    font-size:20px;
    color:gray;
    width:100%;
    margin-top:5px!important;
    padding:5px;
    border:none;
    outline:none;
    border-bottom:3px solid lightgray;
    border-radius:3px;
}
.input_text:focus{
    border-color:gray;
}
.btn{
    padding:5px 10px;
    margin-left:5px;
    background:lightgrey;
    color:white;
    display:inline-block;
    cursor:pointer;
    border-radius:3px;
    border:1px solid lightgray;
}
.btn:not(.disabled):active{
    background: transparent;
    color:gray;
}
.footer_left{
    float:left;
}
.footer_left>*{
    margin-left: 0;
    margin-right: 5px;
}
.footer_left>label{
    cursor:pointer;
}
#forgot_password{
    color:#03a9f4;
    cursor:pointer;
}
.disabled{
    background: rgba(211, 211, 211, .5);
}
.btn:not(.disabled):hover, #forgot_password:hover{
    opacity:.7;
}

#forgot_password:active{
    opacity:1;
}
select{
    font-size:20px;
    padding:5px;
    color:gray;
    width:32%;
    outline:none;
}
select:not(:nth-of-type(1)){
    margin-left: 2%;
}
option{
    color:gray;
}
.error_message{
    font-size:13px;
    color:#e74d14
}
#countdown{
    font-weight:bold;
    color:black;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.eye{
    position:absolute;
    right:0;
    margin-top:15px;
    margin-right:5px;
    font-size:20px;
    cursor:pointer;
}
.eye:nth-child(1){
    display:none;
}
.bar{
    margin:5px 5px 5px 0;
    float:left;
    padding:3px 0;
    width:calc((100%/5) - 5px);
    background:lightgray;
}
.bar:last-of-type{
    margin:5px 0 5px 0;
    width:calc((100%/5));
}
#otp_after_footer{
    display:none;
}
#dashboardHeader{
    background:lightgray;
    position:fixed;
    width:100%;
    padding:5px;
}
.menu:before{
    color:white;
    content:'\22EE\22EE';
    margin-right:10px;
    cursor:pointer;
    float: right;
}
.menu:hover ~ .dropdown{
    display:block;
}
.dropdown:hover{
    display:block;
}
.dropdown{
    display:none;
    list-style: none;
    position: absolute;
    text-align: left;
    right: 10px;
    border: 1px solid lightgray;
    border-top: none;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
.dropdown>li{
    padding: 5px;
    cursor:pointer;
}
.dropdown>li:hover{
    background:lightgray;
    color:white;
}
.dropdown>li:not(:last-child){
    border-bottom:1px solid lightgray;
}
#searchFriend{
    width:100%;
    outline:none;
    color:lightgray;
    border:1px solid gray;
}
#searchIcon{
    position: absolute;
    right: 0;
    margin-top: 4px;
    cursor: pointer;
}
.loader{
    width:50px;
    height:50px;
    animation: rotation 2s infinite linear;
}
#loader-ico{
    fill:white;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.dashboardHeaderWrapper {
    position:absolute;
    width:100%;
    z-index:2;
    left:0;
}
@media only screen and (max-width:1200px){
    .center{
        width:45%;
    }
}
@media only screen and (max-width:992px){
    .center{
        width:55%;
    }
}
@media only screen and (max-width:500px){
    .center{
        width:95%;
    }
    .xs-m-0{
        width:100%!important;
    }
    .dashboardHeaderWrapper {
        width:calc(100% - 35px) !important;
        left:5px;
    }
}