:root {
    --s1: calc(100%/12);
    --s2: calc(var(--s1)*2);
    --s3: calc(var(--s1)*3);
    --s4: calc(var(--s1)*4);
    --s5: calc(var(--s1)*5);
    --s6: calc(var(--s1)*6);
    --s6: calc(var(--s1)*6);
    --s7: calc(var(--s1)*7);
    --s8: calc(var(--s1)*8);
    --s9: calc(var(--s1)*9);
    --s10: calc(var(--s1)*10);
    --s11: calc(var(--s1)*11);
    --s12: calc(var(--s1)*12);
}
.lg-1 {
    width: var(--s1);
}
.lg-2 {
    width: var(--s2);
}
.lg-3 {
    width: var(--s3);
}
.lg-4 {
    width: var(--s4);
}
.lg-5 {
    width: var(--s5);
}
.lg-6 {
    width: var(--s6);
}
.lg-7 {
    width: var(--s7);
}
.lg-8 {
    width: var(--s8);
}
.lg-9 {
    width: var(--s9);
}
.lg-10 {
    width: var(--s10);
}
.lg-11 {
    width: var(--s11);
}
.lg-12 {
    width: var(--s12);
}
.tr {
    position: relative;
    display: inline-block;
    width: 100%;
}
.tr .col {
    float: left;
}
.th {
    font-weight:bold;
}
.td {
    border-top: 1px solid lightgray;
}
.table {
    cursor: default;
}
.tr:not(:first-of-type) .th{
    display: none;
}
.container {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.lg-card, .lg-card-only {
    border:1px solid lightgray;
    box-shadow: 0 0 8px 1px lightgray;
    margin-bottom: 15px;
    border-radius: 3px;
    width: calc(100% -10px);
    padding: 5px;
    display:flow-root;
}

.md-show-only , .sm-show-only, .xs-show-only, .md-show, .sm-show, .xs-show {
    display: none;
}
@media only screen and (max-width: 1200px) {
    .lg-show-only {
        display: none;
    }
    .md-show-only, .md-show {
        display: block;
    }
    .lg-card-only {
        border:initial;
        box-shadow: initial;
        margin-bottom: initial;
        border-radius: initial;
        width: initial;
        padding: initial;
        display: initial;
    }
    .md-card, .md-card-only {
        border:1px solid lightgray;
        box-shadow: 0 0 8px 1px lightgray;
        margin-bottom: 15px;
        border-radius: 3px;
        width: calc(100% -10px);
        padding: 5px;
        display:flow-root;
    }
    .container {
        width: 95%;
    }
    .tr:not(:first-of-type) .th{
        display: block;
    }
    .md-1 {
        width: var(--s1);
    }
    .md-2 {
        width: var(--s2);
    }
    .md-3 {
        width: var(--s3);
    }
    .md-4 {
        width: var(--s4);
    }
    .md-5 {
        width: var(--s5);
    }
    .md-6 {
        width: var(--s6);
    }
    .md-7 {
        width: var(--s7);
    }
    .md-8 {
        width: var(--s8);
    }
    .md-9 {
        width: var(--s9);
    }
    .md-10 {
        width: var(--s10);
    }
    .md-11 {
        width: var(--s11);
    }
    .md-12 {
        width: var(--s12);
    }
}

@media only screen and (max-width: 992px) {
    .md-show-only {
        display: none;
    }
    .sm-show-only, .sm-show {
        display: block;
    }
    .md-card-only {
        border:initial;
        box-shadow: initial;
        margin-bottom: initial;
        border-radius: initial;
        width: initial;
        padding: initial;
        display: initial;
    }
    .sm-card, .sm-card-only {
        border:1px solid lightgray;
        box-shadow: 0 0 8px 1px lightgray;
        margin-bottom: 15px;
        border-radius: 3px;
        width: calc(100% -10px);
        padding: 5px;
        display:flow-root;
    }
    .container {
        width: 98%;
    }
    .sm-1 {
        width: var(--s1);
    }
    .sm-2 {
        width: var(--s2);
    }
    .sm-3 {
        width: var(--s3);
    }
    .sm-4 {
        width: var(--s4);
    }
    .sm-5 {
        width: var(--s5);
    }
    .sm-6 {
        width: var(--s6);
    }
    .sm-7 {
        width: var(--s7);
    }
    .sm-8 {
        width: var(--s8);
    }
    .sm-9 {
        width: var(--s9);
    }
    .sm-10 {
        width: var(--s10);
    }
    .sm-11 {
        width: var(--s11);
    }
    .sm-12 {
        width: var(--s12);
    }
}
@media only screen and (max-width: 500px) {
    .md-show-only, .sm-show-only {
        display: none;
    }
    .xs-show-only , .xs-show{
        display: block;
    }
    .sm-card-only {
        border:initial;
        box-shadow: initial;
        margin-bottom: initial;
        border-radius: initial;
        width: initial;
        padding: initial;
        display: initial;
    }
    .xs-card, .xs-card-only {
        border:1px solid lightgray;
        box-shadow: 0 0 8px 1px lightgray;
        margin-bottom: 15px;
        border-radius: 3px;
        width: calc(100% -10px);
        padding: 5px;
        display:flow-root;

    }
    .xs-1 {
        width: var(--s1);
    }
    .xs-2 {
        width: var(--s2);
    }
    .xs-3 {
        width: var(--s3);
    }
    .xs-4 {
        width: var(--s4);
    }
    .xs-5 {
        width: var(--s5);
    }
    .xs-6 {
        width: var(--s6);
    }
    .xs-7 {
        width: var(--s7);
    }
    .xs-8 {
        width: var(--s8);
    }
    .xs-9 {
        width: var(--s9);
    }
    .xs-10 {
        width: var(--s10);
    }
    .xs-11 {
        width: var(--s11);
    }
    .xs-12 {
        width: var(--s12);
    }
}